/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size:200vh;
  
} */

.main-body{
  position: relative;
  min-height: 100vh;
  
}
.sub-body{
  padding-bottom: 3.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NavBar styling */
@media only screen and (min-width: 10px){
.nb{
  background-color:#1da1f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
  padding-right: 30px;
  /* box-shadow: 5px 10px 18px white ; */
  /* height: 4cm; */
}
.nb ul {
  list-style-type: none;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.nb li {
  display: inline;
  font-size: larger;
  color: white;
  font-weight: bold;
  padding-right: 20px;
  text-decoration: none;
}

.nb h3{
 
  font-family: 'Brush Script MT', monospace;
}
}
/* newform styling */
.fm{
  float:right;
  border:rgb(219, 202, 202) ;
  box-shadow: 10px 15px 18px white;
  background-color: rgb(177, 84, 122);
  padding: 10px;
}

/* postscontainer styling */
@media only screen and (min-width: 1024px){
.posts-container{
  
  padding: 10px;
  width: 800px;
  height: 200px;
  text-align: justify;
}
}
/* contact styling */
.contact{
  padding-bottom: 50%;
  margin-left: 20%;
  color:rgb(88, 186, 180);
  
}
.contact {
padding: 30px;
color: #1da1f2;

}
/* styling login */
.login{
  border: 0px solid black;
  margin-right: 80.5%;
  margin-top: 5px;
  box-shadow: 5px 10px 13px rgb(159, 50, 50);
  border-radius: 20px;
}
/* style buttons */
button{
  border-radius: 30px;
  border: 0px;
}
.dlt button{
  color: red;
}
/* style image */
.image img{
  height: 123vh;
}

.image p{
   margin-top: -55%;
   padding-bottom: 50%;
   align-items: center;
}
 
.loginbox{
  max-width: 500px;
  width: 100%;
  background-color:hsl(0, 3%, 29%);

  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgb(103, 149, 112);
}

.rapper{
  
  background-color: rgb(58, 64, 58);
  margin: 20px auto;
  padding: 30px;
  /* box-shadow: 1px 1px 2px rgb(229, 229, 229); */
}
.rapper  .form .input_field{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.rapper .form .input_field .textarea{
  resize: none;
  height: 125px;
}
.rapper .form .input_field .custom_select{
  position: relative;
  width: 100%;
height: 37px;
}
.rapper .form .inputfield label{
  width: 200px;
  color: hsl(0, 0%, 93%);
  margin-right: 10px;
}
.rapper.form .input_field  .custom_select select{
  border: 1px solid #d5dbd9;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
}
.rapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color:white;
  text-transform: uppercase;
  text-align: center;

}
.rapper .form{
  width: 100%;
}
.footer{
  background-color: #1DA1F2;
  /* display: flex; */
  /* padding: auto; */
  justify-content: space-between;
  position: relative;
    bottom: 0;
    width: 100%;
    height: 13.6rem;
  
}

.footer-col{
  color: black;
  width: 30%;
  padding: 0 15px;
  /* display: flex; */
}
.reg{
  background-color:  #6e6e70;
  text-decoration-color: white;
  text-align: end;
  color: #0a15eb;
  text-align: start;
  margin-right: 1cm;
  max-width: 25cm;
  position: relative;
}
.footer-col h4{
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;

} 
.footer ul li a:hover{
  color: floralwhite;

}

.container{
  max-width: 100%;
  background-color: rgb(13, 72, 13);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .homequote{
    text-align: center;
    background-color:rgb(221, 193, 221);
  }
  .contenthome{
    max-width: 90%;
    display: table-column;
    display: grid;
    color: #fff;
    width: 100%;
    background-color: #4ba7e1;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgb(70, 90, 74);
  
  }
  .about{
    min-height: 64vh;
    background-color: #e0e5e9;
    color: black;

  }
  .lawyers{
    max-width: 500px;
    color: #fff;
    width: 100%;
    background-color: rgb(119, 195, 128);
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgb(70, 90, 74);
  }
.hirehire{
  background-color: #e0e5e9;
  text-align:center ;
}
.request{
  background-color: #4ba7e1;
}
  .order{
    background-color: #d5d7d9;
    text-align: center;
  }

  
  .rapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #07d9fe;
    text-transform: uppercase;
    text-align: center;
  }
  
  .rapper  .form{
    width: 100%;
  }
  
  .rapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  /* .rapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  } */
  
  .rapper .form .inputfield .input,
  .rapper .form .inputfield .textarea{
    width: 10cm;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .rapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .rapper .form .inputfield .custom_select{
    position: relative;
    width: 10cm;
    height: 37px;
  }
  
  .rapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .rapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .rapper .form .inputfield .input:focus,
  .rapper .form .inputfield .textarea:focus,
  .rapper .form .inputfield .custom_select select:focus{
    border: 1px solid #fdfdfd;
  }
  
  .rapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .rapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    /* position: relative; */
    display: block;
    cursor: pointer;
  }
  .rapper .form .inputfield .check input[type="checkbox"]{
    /* position: absolute; */
    top: 0;
    left: 0;
    opacity: 0;
  }
  .rapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #07fefe;
    display: block;
    /* position: relative; */
  }
  .rapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .rapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #07fefe;
  }
  
  .rapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .rapper .form .inputfield .btn{
    width: 100%;
     /* padding: 8px 10px; */
    font-size: 15px; 
    border: 0px;
    background:  #28bc2d;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    /* outline: none; */
  }
  
  .rapper .form .inputfield .btn:hover{
    background: #ff7c58;
  }
  
  .rapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .rapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    /* .rapper .form .inputfield label{
      margin-bottom: 5px;
      color: #d5d7d9;
    } */
    .rapper .form .inputfield.terms{
      flex-direction: row;
    }
    }
    .logo{
      display: flex;
      flex-direction: row;
      
    }
    .logo img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }